.footer {
    color: whitesmoke;
    text-align: center;
    width: 10%;
    margin: 16px auto;
}

.linkedIn {
    float: left;
    color: whitesmoke;
}

.gitHub {
    float: right;
    color: whitesmoke;
}

.footerText {
    font-size: 14px;
    padding-top: 40px;
}

.footerText p {
    margin-top: -14px;
}